.pass {
    width: 92%;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    position: relative;
}
.pass.pass-active {
    border: 1px solid #94e37f !important;
}
.pass.pass-sent {
    border: 1px solid #dddddd !important;
}
.pass.pass-scanned {
    border: 1px solid #ffd2c4 !important;
}
.pass:before {
    position: absolute;
    content: "";
    left: 0px;
    width: 15px;
    height: 31px;
    background: #ccc;
    bottom: 14px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.pass-active:before{
    background: green !important;
}
.pass-sent:before{
    background: #1e1e1e !important;
}
.pass-scanned:before{
    background: #a23e1f !important;
}
/*.pass:after{position:absolute; content:""; right:0px; width:15px; height:31px; background:green; top:14px; border-top-left-radius: 25px; border-bottom-left-radius: 25px;}*/
.pass-lft {
    margin: 10px 0 0 24px;
    padding: 0;
}

.pass-lft p {
    font-size: 12px;
    color: #7c7c7c;
    margin-top: 10px;
    font-weight: 400;
}

.pass-lft p span {
    display: block;
    color: #0b2146;
    font-size: 11px;
}

.pass-body {
    display: table-cell;
    margin-top: 10px;
}

.pass-body h4 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #000;
}

.pass-body h5 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 2px 0 0 0;
    padding: 0;
    color: #000;
}

.pass-body h6 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 7px 0 0 0;
    color: #000;
    padding: 0 0 0 10px;
    font-weight: 400;
    position: relative;
}

.pass-body h6:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 26px;
    background: grey;
    left: 0;
}

.pass-body h6 span {
    display: block;
    color: #0b2146;
}

.pass-lft img {
    border-radius: 50%;
}

.pass-ryt {
    min-height: 125px;
    background: #ccc;
}
.pass-active .pass-ryt {
    background: #e3f5df !important;
}
.pass-sent .pass-ryt {
    background: #eaeaea !important;
}
.pass-scanned .pass-ryt {
    background: #f4d4c9 !important;
}

.pass-ryt h3 {
    text-align: center !important;
    font-size: 11px;
    background: none;
    /*color: #2e8616;*/
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0 0 0;
}

.pass-ryt h4 {
    text-align: center !important;
    font-size: 14px;
    background: none;
    /*color: #2e8616;*/
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.pass-active .pass-ryt h3,
.pass-active .pass-ryt h4 {
    color: #2e8616;
}
.pass-sent .pass-ryt h3,
.pass-sent .pass-ryt h4 {
    color: #1e1e1e;
}
.pass-scanned .pass-ryt h3,
.pass-scanned .pass-ryt h4 {
    color: #9a2f10;
}
/*filter list CSS*/
.pass-ryt .qr {
    border-radius: 5px;
    background: #fff;
    width: 70px;
    height: 70px;
    margin: 6px auto 0;
}

.filter_list {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}
.filter_list div {
    background: #1c84c6;
    padding: 10px;
    color: #ffffff;
    margin: 10px;
    cursor: pointer;
}
.filter_list_date {
    display: block;
    text-align: center;
}

.passes-header-bar{
    background: #4e73df;
    color: #fff;
    padding: 10px;
}
.sent-pass-container .card-header{
    padding: 13px;
    background: #1e1e1e;
    color: #fff;
    font-weight: 600;
    border-radius: 0;
}
.sent-pass-container .card-body{
    padding: 15px;
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-top: 0;
}

.active-pass-container .card-header{
    padding: 13px;
    background: green;
    color: #fff;
    font-weight: 600;
    border-radius: 0;
}
.active-pass-container .card-body{
    padding: 15px;
    background: #f8fff7;
    border: 1px solid #e0e0e0;
    border-top: 0;
}

.scanned-pass-container .card-header{
    padding: 13px;
    background: #be0002;
    color: #fff;
    font-weight: 600;
    border-radius: 0;
}
.scanned-pass-container .card-body{
    padding: 15px;
    background: #ffedee;
    border: 1px solid #e0e0e0;
    border-top: 0;
}

.sent-pass-container .card-header a,
.active-pass-container .card-header a,
.scanned-pass-container .card-header a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.delPass {
    border: 1px solid black;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: 3px 0 0 4px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: -8px;
    top: -9px;
    cursor: pointer;
    transition: all .1s ease-in;
}
.editPass {
    border: 1px solid black;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: 3px 0 0 4px;
    margin: 0 25px 0 0;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: -8px;
    top: -9px;
    cursor: pointer;
    transition: all .1s ease-in;
}
.editPass:hover,
.delPass:hover{
    background: #000;
    color: #fff;
}
